<center ng-init="signsCtrl.init()">
	<div class="header">Horoscope</div>
	<br><br>
	<img ng-src="Pic/logo.jpg" width=200 height=200 ng-click="signsCtrl.goToBack()">
	<hr>
	<div class="header" ng-click="signsCtrl.goToBack()">
		List of signs ({{signsFilter.length}})
	</div>
	<div>
		<input type="text" class="form-control" 
								   style="font-size:20px; 
								   color: white; 
								   background-color: black;
								   border-style: none;
								   float: left;"	
								   placeholder="Search here"
		ng-model="signsCtrl.query">
	</div>			
	<table class="table table-striped" style="font-size:20px; color: white; background-color: black;">
		<tr ng-repeat="item in signsCtrl.signs 
			| filter:signsCtrl.query as signsFilter
			track by $index">
			<td ng-click="signsCtrl.showToday(item)" style="font-size:20px; color: white; background-color: black;">
				<div style="border-style: solid;
						border-width: thick;
						float: left;">
					<img ng-src="./Pic/{{item.signName}}.jpg" width=100 height=100>
				</div>
				<div style="float: left;
							color: white;
							font-size: 20px;
							padding: 45px 0 0 15px;">
					{{item.signName}}
					({{item.startDate | jsonDate | date: 'MM/dd'}} -
					{{item.endDate | jsonDate | date: 'MM/dd'}})
				</div>
			</td>
		</tr>
	</table>
	<hr>
	<button class="btn btn-primary button" ng-click="signsCtrl.signsBack()" scroll-here>Back</button>
	<br><br>
</center>