<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <div class="header" ng-click="signsCtrl.goToBack()">List of signs</div>
        <table class="table table-striped">
            <tr ng-repeat="sign in signsCtrl.signs">
                <td ng-click="signsCtrl.showToday(sign)">
                    <a href="#">
                        <img ng-src="./Pic/{{sign.signName}}.jpg" width=100 height=100>
                    </a>
                    <a style="color:blue;font-size:20px" href="#">
                        {{sign.signName}}
                        ({{sign.startDate | jsonDate | date: 'MM/dd'}} -
                        {{sign.endDate | jsonDate | date: 'MM/dd'}})
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <button class="btn btn-primary button" ng-click="signsCtrl.signsBack()" scroll-here>Back</button>
        <br><br>
    </center>
</body>
</html>