<center ng-init="showTomorrowCtrl.init()">
	<div class="header">{{showTomorrowCtrl.signName}} on {{showTomorrowCtrl.date}} </div>
	<br><br>
		<div 
			style="border-color: white;
				border-style: solid;
				border-width: thick;
				width: 210px;">
			<img ng-src="Pic/{{showTomorrowCtrl.signName}}.jpg" style="width:200px; height:210px;">
		</div>	
	<hr>
		<div style="font-size:20px; color: white; background-color: black;">{{showTomorrowCtrl.details}}</div>
	<hr>

	<button class="btn btn-primary button" ng-click="showTomorrowCtrl.showYesterday()">Yesterday</button>&nbsp
	<button class="btn btn-primary button" ng-click="showTomorrowCtrl.showToday()">Today</button>
	<br><br>
	<button class="btn btn-primary button" ng-click="showTomorrowCtrl.signsBack()" scroll-here>Back</button>
	<br><br>
</center>