<center ng-init="showTodayCtrl.init()">
	<div class="header">{{showTodayCtrl.signName}} on {{showTodayCtrl.date}} </div>
	<br><br>
		<div 
			style="border-color: white;
				border-style: solid;
				border-width: thick;
				width: 310px;">
			<img ng-src="Pic/{{showTodayCtrl.signName}}.jpg" width=300px height=320px>
		</div>		
	<hr>
		<div style="font-size:20px; color: white; background-color: black;">{{showTodayCtrl.details}}</div>
	<hr>

	<button class="btn btn-primary button" ng-click="showTodayCtrl.showYesterday()">Yesterday</button>&nbsp
	<button class="btn btn-primary button" ng-click="showTodayCtrl.showTomorrow()">Tomorrow</button>
	<br><br>
	<button class="btn btn-primary button" ng-click="showTodayCtrl.signsBack()" scroll-here>Back</button>
</center>