<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <div class="header">{{showTodayCtrl.signName}} on {{showTodayCtrl.date}} </div>
        <br><br>
            <img ng-src="Pic/{{showTodayCtrl.signName}}.jpg" width=200 height=200>
        <hr>
            <div style="font-size:20px; color: white; background-color: black;">{{showTodayCtrl.details}}</div>
        <hr>

        <button class="btn btn-primary button" ng-click="showTodayCtrl.showYesterday()">Yesterday</button>&nbsp
        <button class="btn btn-primary button" ng-click="showTodayCtrl.showTomorrow()">Tomorrow</button>
        <br><br>
        <button class="btn btn-primary button" ng-click="showTodayCtrl.signsBack()" scroll-here>Back</button>
    </center>
</body>
</html>