<center>
	<div class="header">Horoscope</div>
	<br><br>
	<img ng-src="Pic/logo.jpg" width=200 height=200 ng-click="usersCtrl.goToBack()">
	<hr>
		<br><br>
		<span style="font-size:24px; color: white;">
			<strong>
				Are you sure you want to delete {{usersDialogCtrl.name}}?
			</strong>					
		</span>
		<br><br>
			<hr>
		<br><br>
	<button class="btn btn-primary button" ng-click="usersDialogCtrl.usersDelete()">Yes</button>&nbsp
	<button class="btn btn-primary button" ng-click="usersDialogCtrl.usersEditBack()">No</button>
</center>