<center>
	<div class="header">Horoscope</div>
	<br><br>
	<img ng-src="Pic/logo.jpg" width=200 height=200 ng-click="usersAddCtrl.goToBack()">
	<hr>
	<form ng-submit="usersAddCtrl.usersAddSubmit()" novalidate name="usersAddCtrl.form">
		<div class="header">New record</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control input" required
						   style="font-size:20px; 
						   color: white; 
						   background-color: black;
						   border-style: none;"						
						   placeholder="Name" name="name"
						   ng-model="usersAddCtrl.name">

					<div ng-if="usersAddCtrl.form.$submitted">
						<div ng-show="usersAddCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   style="font-size:20px; 
						   color: white; 
						   background-color: black;
						   border-style: none;"						
						   placeholder="Date of birth (mm/dd/year)" 
						   name="birthDate"
						   ng-model="usersAddCtrl.birthDate">

					<div ng-if="usersAddCtrl.form.$submitted">
						<div ng-show="usersAddCtrl.form.birthDate.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<textarea rows=5 type="text" class="form-control input" required
						   style="font-size:20px; 
						   color: white; 
						   background-color: black;
						   border-style: none;"						
						   placeholder="Description" name="description"
						   ng-model="usersAddCtrl.description">
					</textarea>
					<div ng-if="usersAddCtrl.form.$submitted">
						<div ng-show="usersAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="usersAddCtrl.usersAddBack()">Back</button>
	</form>
	<br><br>
</center>