<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <div class="header">List of friends</div>
            <br><br>
            <br><br>
			<span style="font-size:24px; color: white;">
				<strong>
					Are you sure you want to delete {{usersDialogCtrl.name}}?
				</strong>					
		    </span>
            <br><br>
            <br><br>
        <button class="btn btn-primary button" ng-click="usersDialogCtrl.usersDelete()">Yes</button>
        <button class="btn btn-primary button" ng-click="usersDialogCtrl.usersEditBack()">No</button>
    </center>
</body>
</html>